.homePageButton {
    color: lightsalmon;
    font-size: xx-large;
    /*background-color: white;*/
    border: 1px black;
    padding: 10px;

}

.titleCenter {
    text-align: center;
    color: white;
}

.movieposter {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.description {
    text-align: center;
    width: 500px;
}

#categoriesHome {
    color:goldenrod;
    width: 200px;
    float: left;
    margin-left: 200px;
}

table#categoriesHomeStyle {
    padding: 5px;
    color: goldenrod;
}

th, td {
    width: 100px;
}

.reviewtext {
    float: right;
    width: 200px;
    margin-right: 300px;
    
}
.topnav-right {
    float: right;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a:hover {
    background-color: goldenrod;
    color: black;
  }
  h1.hankreview {
      color: goldenrod;
      font-size: xx-large;
      padding: 15px;
  }
  a.homeLink {
      color: goldenrod;
  }
  a.categoriesLink {
      color:goldenrod
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }